.banner-area {
  background-image: url(background_img3.jpg);
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}
.a {
  width: 320px;
  border: 5px solid white;
  padding: 50px;
  border-radius: 10px;
  margin-left: 400px;
  margin-top: 150px;
  color: white;
}
