.banner_area {
  background-image: url(background_img3.jpg);
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
